@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --header-height: 3rem;
  --font-semi: 600;
  
  --hue-color: 224;
  --first-color: #243763;
  --second-color: hsl(var(--hue-color), 56%, 12%);

  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;

  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

*, ::before, ::after {box-sizing: border-box;}

html {scroll-behavior: smooth;}

video {border-radius: 18px;}

::-webkit-scrollbar{-webkit-appearance:none;width:5px;height:5px}::-webkit-scrollbar-track{background:transparent}::-webkit-scrollbar-thumb{background:rgba(0,0,0,.15);border-radius:10px}::-webkit-scrollbar-thumb:hover{background:rgba(0,0,0,.35)}::-webkit-scrollbar-thumb:active{background:rgba(0,0,0,.35)}

body {margin: var(--header-height) 0 0 0;font-family: var(--body-font);font-size: var(--normal-font-size);color: var(--second-color);}

h1, h2, p {margin: 0;}

ul {margin: 0;padding: 0;list-style: none;}

a {text-decoration: none;}

img {max-width: 100%;height: auto;display: block;}

.section-title {position: relative;font-size: var(--h2-font-size);color: var(--first-color);margin-top: var(--mb-2);margin-bottom: var(--mb-4);text-align: center;}

.section-title::after {position: absolute;content: '';width: 64px;height: 0.18rem;left: 0;right: 0;margin: auto;top: 2rem;background-color: var(--first-color);}

.section {padding-top: 3rem;padding-bottom: 2rem;}

.section:nth-child(odd){background:#fff}
.section:nth-child(even){background:#f5f5f5}

.bd-grid {max-width: 1024px;display: grid;margin-left: var(--mb-2);margin-right: var(--mb-2);}

.l-header {width: 100%;position: fixed;top: 20px;left: 0;z-index: var(--z-fixed);}

.nav {padding:0 15px;border-radius:10px;background-color: var(--first-color);box-shadow: 0 0 15px rgba(0,0,0,.5);height: var(--header-height);display: flex;justify-content: space-between;align-items: center;font-weight: var(--font-semi);}

@media screen and (max-width: 767px) {
  .nav__menu {position: fixed;top: var(--header-height);right: -100%;width: 80%;height: 100%;padding: 2rem;background-color: var(--second-color);transition: .5s;}
}

.nav__item {margin-bottom: var(--mb-4);}

.nav__link {position: relative;color: var(--second-color);text-shadow: 0px 2px 2px rgba(0, 0, 0, .5);padding: 7px 15px;}

.nav__logo {color: #fff;text-shadow: 0px 2px 2px rgba(0, 0, 0, .5);}

.nav__toggle {color: #fff;font-size: 1.5rem;cursor: pointer;}

.active {background-color: rgba(0, 0, 0, 0.2);border-radius: 50px;}

.show {right: 0;}

section.homes{/*background: #022475;background-repeat: no-repeat;background-position: 0 -30px;*/padding-block:2rem 6rem;width:100%;}

.mainL{margin-inline: auto;margin-top:50px;padding-inline: 22px;max-width: 1024px;align-items: center;justify-content: center;}

.homeL {display:flex;/*color:#fff;text-shadow: 0px 2px 2px rgba(0, 0, 0, .5);*/gap:40px;flex-direction: column;}
h1.t{font-size: 40px;margin-bottom: 30px;}

.homeR {display:flex;gap:15px;align-self:flex-start;width: 50%;align-items: center;justify-content: center;margin-left:auto;margin-right: auto;}

@keyframes componentAnim{0%{transform:translate(0)}30%{transform:translateY(-10px)}50%{transform:translateY(4px)}70%{transform:translateY(-15px)}to{transform:translate(0)}}

.homeR img{height:170px; margin-top:50px} 
.homeR img:nth-child(1){animation:componentAnim 15s ease infinite} 
.homeR img:nth-child(2){animation:componentAnim 13s ease infinite reverse; margin-top:70px} 
.homeR img:nth-child(3){animation:componentAnim 18s ease infinite}

.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
}

/*.home__data {
  align-self: center;
}*/

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
}

.home__blob {
  fill: var(--first-color);
}

.home__blob-img {
  width: 400px;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
  text-shadow: none;
}

.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

.about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 200px;
  border-radius: .5rem;
}

.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.skills__html {
  width: 95%;
}

.skills__css {
  width: 85%;
}

.skills__js {
  width: 65%;
}

.skills__ux {
  width: 70%;
}

.skills__img {
  border-radius: .5rem;
}

.work__container {
  row-gap: 2rem;
}

.work__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
}

.work__img img {
  transition: 1s;
}

.work__img img:hover {
  transform: scale(1.1);
}

.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .homeR img{height:130px;}
}

@media screen and (min-width: 512px){
    .homeR img{height:250px;}
}

@media screen and (min-width: 576px) {
  .about__container {grid-template-columns: repeat(2, 1fr);align-items: center;text-align: initial;}
  .skills__container {grid-template-columns: .7fr;justify-content: center;column-gap: 1rem;}
  .contact__form {width: 360px;padding-top: 2rem;}
  .contact__container {justify-items: center;}
}

@media screen and (min-width: 744px) {.work__container {grid-template-columns: repeat(2, 1fr);column-gap: 2rem;padding-top: 2rem;}}

@media screen and (min-width: 768px) {
  body {margin: 0;}
  .section {/*padding-top: 4rem;*/padding-bottom: 6rem;}
  section.homes{padding-block:3rem 6rem;}
  .section-title {margin-top: 2em;margin-bottom: var(--mb-6);}
  .section-title::after {width: 80px;top: 3rem;}
  .nav {height: calc(var(--header-height) + 1.5rem);}
  .nav__list {display: flex;padding-top: 0;}
  .nav__item {margin-left: var(--mb-5);margin-bottom: 0;}
  .nav__toggle {display: none;}
  .nav__link {color: #fff;}
  .home {padding: 8rem 0 2rem;}
  .home__img {width: 400px;bottom: 18%;}
  .about__container {padding-top: 2rem;}
  .about__img img {width: 375px;}
  .skills__container {grid-template-columns: repeat(2, 1fr);column-gap: 2rem;align-items: center;text-align: initial;}

  .mainL{display:flex;flex-wrap: wrap;margin-top: calc(var(--header-height) + 100px);}
  .homeL{width: 50%;}
  .homeR{margin-left:unset;margin-right: unset;}
}

@media screen and (min-width: 992px) {
  .bd-grid {margin-left: auto;margin-right: auto;}
  h1.t{font-size: 40px;}
  .homeR img{height:260px;}
}

@media screen and (min-width: 1111px) {
.work__container {grid-template-columns: repeat(3, 1fr);column-gap: 2rem;}
}

/* Button */ .button{position: relative;z-index: 1;transition: all 0.2s;display:inline-flex;align-items:center;cursor:pointer; margin:10px 0;padding:12px 15px;outline:0;border:0; border-radius:8px;line-height:20px; font-size:14px;font-family:var(--fontB); white-space:nowrap;overflow:hidden;max-width:320px} .button.ln{color:inherit;background:transparent; border:1px solid #989b9f} 
.button.ln:hover{border-color:#fff;box-shadow:0 0 0 1px var(--first-color); inset} .btnF{display:flex;justify-content:center; margin:10px 0;width:calc(100% + 12px);left:-6px;right:-6px;position:relative} .btnF >*{margin:0 6px} .button.ln:after, .button.ln:before{background:transparent;}
.button.alt{margin-left:18px;background:#fff;border:2px solid var(--first-color);color:var(--first-color)}

/* Download btn */ 
.dlBox{max-width:640px;box-shadow:0px 4px 25px rgb(14 36 49 / 15%);border-radius:10px;padding:12px;display:flex;align-items:center; font-size:18px;line-height:1.4em} 
.dlBox .fT{flex-shrink:0;display:flex;align-items:center;justify-content:center; width:90px;height:160px; padding:0px; background:rgba(0,0,0,.1);border-radius:5px} .dlBox .fT::before{content:attr(data-text);opacity:.7} .dlBox .fT img{border-radius:5px;width:90x;height:160px}.dlBox a{flex-shrink:0;margin:0;padding:10px;font-size:13px} .dlBox a::after{content:attr(aria-label)} .dlBox .fN{flex-grow:1; width:calc(100% - 200px);padding:0 15px} .dlBox .fN >*{display:block;} .dlBox .fS{line-height:16px;font-size:14px;margin-top:10px;opacity:.9} 

  .dlBox{font-size:18px;font-weight:700}
  .dlBox a{flex-shrink:unset;font-weight:400}
  .dlBox .fN >*{display:block;} .dlBox .fN h2{font-size:18px;}
  .dlBox .fS{font-weight:400}
  .dlBox .fN{flex-grow:1;padding:0 15px}
  .dlBox .fN .buttonInfo{display:inline-flex;margin-top:30px;position:relative}
  .dlBox .fN .buttonInfo a{margin-right:10px}
  .lity-iframe-container{height:600px}

/* Icon btn */ .icon{flex-shrink:0;display:inline-flex} .icon::before{content:'';width:18px;height:18px;background-size:18px;background-repeat:no-repeat;background-position:center} .icon::after{content:'';padding:0 6px} .icon.dl::before, .drK .button.ln .icon.dl::before{background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fefefe' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'><polyline points='8 17 12 21 16 17'/><line x1='12' y1='12' x2='12' y2='21'/><path d='M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29'/></svg>")} .icon.demo::before{background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fefefe' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'><path d='M7.39999 6.32003L15.89 3.49003C19.7 2.22003 21.77 4.30003 20.51 8.11003L17.68 16.6C15.78 22.31 12.66 22.31 10.76 16.6L9.91999 14.08L7.39999 13.24C1.68999 11.34 1.68999 8.23003 7.39999 6.32003Z'/><path d='M10.11 13.6501L13.69 10.0601'/></svg>")} .button.ln .icon.dl::before{background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%2308102b' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'><polyline points='8 17 12 21 16 17'/><line x1='12' y1='12' x2='12' y2='21'/><path d='M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29'/></svg>")}

.icn{flex-shrink:0;display:inline-flex}
.icn::before{content:'';width:24px;height:24px;}
.icn.tiktok::before{background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path d='M24,3H8A5,5,0,0,0,3,8V24a5,5,0,0,0,5,5H24a5,5,0,0,0,5-5V8A5,5,0,0,0,24,3Zm3,21a3,3,0,0,1-3,3H8a3,3,0,0,1-3-3V8A3,3,0,0,1,8,5H24a3,3,0,0,1,3,3Z'/><path d='M22,12a3,3,0,0,1-3-3,1,1,0,0,0-2,0V19a3,3,0,1,1-3-3,1,1,0,0,0,0-2,5,5,0,1,0,5,5V13a4.92,4.92,0,0,0,3,1,1,1,0,0,0,0-2Z'/></svg>")}
.icn.instagram::before{background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path d='M22,3H10a7,7,0,0,0-7,7V22a7,7,0,0,0,7,7H22a7,7,0,0,0,7-7V10A7,7,0,0,0,22,3Zm5,19a5,5,0,0,1-5,5H10a5,5,0,0,1-5-5V10a5,5,0,0,1,5-5H22a5,5,0,0,1,5,5Z'/><path d='M16,9.5A6.5,6.5,0,1,0,22.5,16,6.51,6.51,0,0,0,16,9.5Zm0,11A4.5,4.5,0,1,1,20.5,16,4.51,4.51,0,0,1,16,20.5Z'/><circle cx='23' cy='9' r='1'/></svg>")}
.icn.github::before{background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><g><path d='M16,3a13,13,0,0,0-3.46,25.53,1,1,0,1,0,.53-1.92,11,11,0,1,1,7-.4,15.85,15.85,0,0,0-.3-3.92A6.27,6.27,0,0,0,24.68,16a6.42,6.42,0,0,0-1.05-3.87,7.09,7.09,0,0,0-.4-3.36,1,1,0,0,0-1.1-.67,8,8,0,0,0-3.37,1.28A11.35,11.35,0,0,0,16,9a13.09,13.09,0,0,0-3,.43A5.74,5.74,0,0,0,9.62,8.25a1,1,0,0,0-1,.66,7.06,7.06,0,0,0-.37,3.19A7.15,7.15,0,0,0,7.2,16a6.66,6.66,0,0,0,5,6.28,7.43,7.43,0,0,0-.15.79c-1,.06-1.58-.55-2.32-1.48a3.45,3.45,0,0,0-1.94-1.53,1,1,0,0,0-1.15.76A1,1,0,0,0,7.35,22c.16,0,.55.52.77.81a4.74,4.74,0,0,0,3.75,2.25,4.83,4.83,0,0,0,1.3-.18h0a1,1,0,0,0,.29-.14l0,0a.72.72,0,0,0,.18-.21.34.34,0,0,0,.08-.09.85.85,0,0,0,.06-.17,1.52,1.52,0,0,0,.06-.2v0a4.11,4.11,0,0,1,.46-1.91,1,1,0,0,0-.76-1.65A4.6,4.6,0,0,1,9.2,16a4.84,4.84,0,0,1,.87-3,1,1,0,0,0,.24-.83,5,5,0,0,1,0-1.85,3.59,3.59,0,0,1,1.74.92,1,1,0,0,0,1,.23A12.49,12.49,0,0,1,16,11a9.91,9.91,0,0,1,2.65.43,1,1,0,0,0,1-.18,5,5,0,0,1,2-1,4.11,4.11,0,0,1,0,1.91,1.05,1.05,0,0,0,.32,1A4,4,0,0,1,22.68,16a4.29,4.29,0,0,1-4.41,4.46,1,1,0,0,0-.94.65,1,1,0,0,0,.28,1.11c.59.51.5,4,.47,5.36a1,1,0,0,0,.38.81,1,1,0,0,0,.62.21,1.07,1.07,0,0,0,.25,0A13,13,0,0,0,16,3Z'></path></g></svg>")}

.action {
    display: flex;
    gap: 18px;
    flex-direction: column;
}

.link {
    display: flex;
    gap: 18px;
}

.button.ln svg{margin-right: 8px;}
svg{width:24px;height:24px; fill:#000} svg.line, svg .line{fill:none; stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.25}
.extL::after{content:''; display:inline-block; width:14px;height:14px;margin-inline-start:5px; background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23989b9f' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><line x1='7' y1='17' x2='17' y2='7'/><polyline points='7 7 17 7 17 17'/></svg>") center / 16px no-repeat}

.flexIn.baseline {
    display: flex;
    gap: 18px;
    align-items: baseline;
    font-size: .93em;
}
